
.chairImg-container {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-left: 10%;
  background: linear-gradient(to right, #640109, #c72727
  ); 
}

.chair-image-container {
  width: 30%;
}

.chair-image-container img {
  width: 88%;
  height: auto;
}

.chair-info-container {
  width: 70%;
  padding-left: 50px;
}

.chair-name {
  font-size: 42px;
  font-weight: bold;
  color: white; /* set heading color to white */
  font-family: Georgia, serif;

}
.chair-description {
  font-size: 33px;
  font-weight: bold;
  color: rgb(255, 255, 255); /* change color as needed */
  font-family: Georgia, serif;

}
.bold-Red {
  color: rgb(138, 10, 10);
  font-weight: bold;
}

.bold-grey {
  color: rgb(66, 66, 66);
  font-weight: bold;
}
.message-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(224, 224, 224);
}

.message-text h1 {
  font-size: 50px;
  margin-bottom: 0;
}

.message-section {
  background-color: #f8f8f8ec;
  padding-top: 80px;
  padding-bottom: 80px;
  animation: heading 1s ease-in-out;
}

.message-container {
  max-width: 80%;
  margin-left: 10%;
  margin-right: auto;
}

.message-heading1 {
  font-size: 38px;
  font-weight: bold;
  text-align: left;
  color: rgb(138, 10, 10);
  margin-bottom: 2px;
  position: relative;
  font-family: Georgia, serif;
}
.message-heading2 {
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  color: rgb(138, 10, 10);
  margin-bottom: 20px;
  position: relative;
  font-family: Georgia, serif;
}
.message-paragraph {
  text-align: justify;
  text-justify: inter-word;
  font-size: 115%;
  color: rgb(80, 80, 80);
  font-family: Georgia, serif;

}


