.about-container {
  color: #fff;
  padding: 40px;
  text-align: center;
  margin-top: 40px;
}

.about-heading {
  font-size: 3.5rem;
  margin-bottom: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(138, 0, 0);
  font-weight: 600;
}

.about-image {
  margin-top: 20px;
  width: 70%;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.welcome-container {
  background: linear-gradient(to bottom, #8a0700, #c22f2f);
  padding: 50px;
  color: #fff;
  text-align: center;
  margin-top: -7%;
}
.wel-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
}

.welcome-heading {
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin-right: 2%;
  margin-bottom: 30px;
  position: relative; /* Add position relative to enable absolute positioning of the red line */
  font-family: Georgia, serif;
}
.welcome-paragraph {
  margin: 30px auto;
  max-width: 840px;
  padding: 0 20px;
  font-size: 1.2rem;
  text-align: justify;
  text-justify: inter-word;
  font-size: 110%;
  margin-right: 8%;
  font-family: Georgia, serif;
}

.recognized-section {
  background-image: url("../../../../public/shade.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -4%;
  margin-bottom: 3%;
}

.recognized-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.recognized-heading-container {
  flex-basis: 50%;
}

.recognized-heading {
  color: #9c0000;
  font-size: 1.7rem;
  font-weight: bold;
}

.recognized-images-container {
  display: flex;
  flex-basis: 50%;
  justify-content: flex-end;
}

.recognized-image {
  width: 200px;
  height: 200px;
  margin-left: 20px;
}

.recognized-images-container {
  width: 300px;
  height: 180px;
  margin-left: 10px;
  animation: image-animation 1s ease-in-out infinite alternate-reverse;
}
@keyframes slide-in {
  from {
    transform: translateX(-20%); /* Move the element from left to right */
    opacity: 0; /* Start with 0 opacity */
  }
  to {
    transform: translateX(0); /* Move the element to its original position */
    opacity: 1; /* End with 100% opacity */
  }
}
@keyframes image-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
