.objective-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  text-align: justify;
  text-justify: inter-word;
  padding: 0;
  margin: 5%;
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.objective-list li {
  border-radius: 9px;
  padding: 20px 20px 20px 40px;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1.5s ease-in-out;
  position: relative;
  width: 80%;
  display: flex; /* Add display flex */
}

.objective-list li::before {
  content: "✔";
  color: rgb(168, 3, 3);
  font-size: 22px;
  margin-right: 10px;
}

.objective-list li.animate {
  opacity: 1;
  transform: translateY(0px);
}

.objective-heading {
  font-size: 42px;
  font-weight: bold;
  text-align: left;
  margin-left: 8%; /* Add margin-left to match list margin */
  color: #810000;
  top: 60px;
  position: relative;
  font-family: Ogg Regular;

}

.objective-list li {
  background-color: #ffffff !important;
}

.objective-list li:hover,
.objective-list li:focus {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  z-index: 2;
}

.objective-list li:hover::before,
.objective-list li:focus::before {
  transform: scale(1.2); /* Scale the checkmark on hover/focus */
}

.objective-list li:active {
  transform: scale(0.95); /* Add zoom effect on click */
}

@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}