.table-container {
  display: flex;
  width: 100%;
  height: 450px;
  margin-top: 7%;
  margin-bottom: 11%;
  font-family: Arial, Helvetica, sans-serif;
}

.left {
  display: flex;
  flex-direction: column;
  min-width: 22%;
  background-color: #f0f0f0;
}

.row {
  padding: 40px;
  line-height: 8rem; /* Add line-height to move the font down */
  cursor: pointer;
  height: 50%;
  background-color: #800000; /* set background color to dark red */
  color: #fff; /* set font color to white */
  font-size: 30px;
  text-align: center;
  font-weight: 800;
  font-family: Georgia, serif;
}

.row:hover {
  background-color: #cc3333;
  transition: background-color 0.3s ease;
  width: 47%;
  font-family: Georgia, serif;
}

.row:first-child:hover,
.row:first-child {
  background-color: #cc3333;
  color: #fff;
  transition: background-color 0.3s ease;
}

.middle {
  padding: 20px;
  background: linear-gradient(to bottom, #f0e3e3, #f7f7f7);
  width: 48%;
}

.table-about-heading {
  color: #800000;
  font-size: 38px;
  margin: 30px;
  font-weight: bold;
  font-family: Georgia, serif;

}

.table-about-paragraph {
  color: #6b6b6b;
  font-size: 18px;
  line-height: 1.7;
  margin: 30px;
  padding-bottom: 20px;
}

.table-mission-heading {
  color: #800000;
  font-size: 35px;
  margin: 30px;
  font-weight: bold;
}

.table-mission-paragraph {
  color: #6b6b6b;
  font-size: 16px;
  line-height: 2;
  margin: 30px;
  padding-bottom: 12px;
}
.read-more-button {
  background-color: #800000;
  color: white;
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 30px;
  margin-top: -20px; /* add negative margin-top */
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 35%;
}

img {
  max-width: 104.1%;
  height: 105%;
}
@media only screen and (max-width: 767px) {
  .table-container {
    flex-direction: column;
    height: auto;
    margin-top: 30%;
    margin-bottom: 5%;
  }

  .left {
    min-width: auto;
    width: 100%;
  }

  .middle {
    width: 100%;
  }
  .table-about-heading {
    color: #800000;
    font-size: 30px;
    margin: 30px;
    font-weight: bold;
    font-family: Georgia, serif;
  
  }
  
  .table-about-paragraph {
    color: #6b6b6b;
    font-size: 16px;
    line-height: 1.7;
    margin: 30px;
    text-align: justify;
    padding-bottom: 20px;
    word-spacing: -2px; /* adjust this value as needed */

  }
  

  .right {
    width: 100%;
    padding: 0;
  }

  .row {
    line-height: 6rem;
    height: auto;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
