.table-container {
  display: flex;
  width: 100%;
  height: 400px;
  margin-top: 5%;
  margin-bottom: 11%;
  font-family: Arial, Helvetica, sans-serif;
}

.left {
  display: flex;
  flex-direction: column;
  min-width: 22%;
  background-color: #f0f0f0;
}

.row {
  padding: 40px;
  line-height: 8rem;
  cursor: pointer;
  height: 50%;
  background-color: #800000;
  color: #fff;
  font-size: 30px;
  text-align: center;
  font-weight: 800;
  font-family: Georgia, serif;
}

.row:hover {
  background-color: #cc3333;
  transition: background-color 0.3s ease;
  width: 100%; /* Change from 47% to 100% */
}

.row:first-child:hover,
.row:first-child {
  background-color: #cc3333;
  color: #fff;
  transition: background-color 0.3s ease;
}

.middle {
  padding: 30px;
  background: linear-gradient(to bottom, #f0e3e3, #f7f7f7);
  width: 78%;
}

.table-about-heading {
  color: #800000;
  font-size: 42px;
  margin: 30px;
  font-weight: bold;
  font-family: Georgia, serif;
}

.table-about-paragraph {
  color: #6b6b6b;
  font-size: 18px;
  line-height: 1.7;
  margin: 30px;
  padding-bottom: 20px;
}

.table-mission-heading {
  color: #800000;
  font-size: 42px;
  margin: 30px;
  font-weight: bold;
  font-family: Georgia, serif;
}

.table-mission-paragraph {
  color: #6b6b6b;
  font-size: 18px;
  line-height: 1.7;
  margin: 30px;
  padding-bottom: 12px;
}
.read-more-button {
  background-color: #800000;
  color: white;
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 30px;
  margin-top: -20px; /* add negative margin-top */
}

@media only screen and (max-width: 767px) {
  .table-container {
    flex-direction: column;
    height: auto;
    margin-top: 30%;
    margin-bottom: 5%;
  }

  .left {
    min-width: auto;
    width: 100%;
  }

  .middle {
    width: 100%;
  }
  .table-about-heading {
    color: #800000;
    font-size: 27px;
    margin: 30px;
    font-weight: bold;
    font-family: Georgia, serif;
  }

  .table-about-paragraph {
    color: #6b6b6b;
    font-size: 16px;
    line-height: 1.7;
    margin: 30px;
    text-align: justify;
    padding-bottom: 20px;
    word-spacing: -2px; /* adjust this value as needed */
  }
  .table-mission-paragraph {
    color: #6b6b6b;
    font-size: 16px;
    line-height: 1.7;
    margin: 30px;
    text-align: justify;
    padding-bottom: 12px;
    word-spacing: normal; /* Use 'normal' instead of a specific value */
    width: 90%; /* Increase the width as needed */
  }
}
