.recHead-container {
    display: flex;
    justify-content: center;
  }
  
  .rector-header {
    background-image: url('../aboutus/assests/shade.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    position: relative;
  }
  
  
  .rector-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(136, 133, 133);
    font-size: 300%;

  }
  
  .Recmessage-text h1 {
    font-size: 50px;
    margin-bottom: 0;
  }

  .Recmessage-section {
    background-color: #e9e9e9;
    padding-top: 80px;
    padding-bottom: 80px;
    transition: opacity 1s ease-out, transform 1s ease-out;
    animation: heading 1s ease-in-out;

  }
  .Recmessage-section.animate {
    opacity: 1;
    transform: translateY(0);
  }
  
  .Recmessage-container {
    max-width: 800px;
    margin-left: 10%;
    margin-right: auto;
  }
  
  .Recmessage-heading1 {
    font-size: 42px;
    font-weight: bold;
    text-align: left;
    color: #1f1b1b;
    margin-bottom: 30px;
    position: relative;
  }
  .Recmessage-heading2 {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #1f1b1b;
    margin-bottom: 30px;
    position: relative;
  }  

 .Recmessage-paragraph{
    width: 130%;
 } 
  .Recred-underline {
    width: 20%;
    height: 3.5px;
    background-color: #b8101e;
    position: absolute;
    top: 644px; /* Adjust the top value to position the red line correctly */
    left: 24%; /* Position the red line at the center of the heading */
    animation: underline 2s ease-in-out infinite;
    transform: translateX(-50%); /* Center the red line horizontally */
  }
  .Recred2-underline {
    width: 20%;
    height: 3.5px;
    background-color: #b8101e;
    position: absolute;
    top: 203%; /* Adjust the top value to position the red line correctly */
    left: 24%; /* Position the red line at the center of the heading */
    transform: translateX(-50%); /* Center the red line horizontally */
    animation: underline 2s ease-in-out infinite;
  }

  
  @keyframes underline {
    0% {
      transform: translateX(-50%) scaleX(0); /* Start with no width */
    }
    50% {
      transform: translateX(-50%) scaleX(1.2); /* Scale up to a little larger than the original width */
    }
    100% {
      transform: translateX(-50%) scaleX(0); /* End with no width again */
    }
  }
  @keyframes heading {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }