.Recmessage-section {
  background-color: #f8f8f8ec;
  padding-top: 80px;
  padding-bottom: 80px;
  transition: opacity 1s ease-out, transform 1s ease-out;
  animation: heading 1s ease-in-out;
}
.Recmessage-section.animate {
  opacity: 1;
  transform: translateY(0);
}

.Recmessage-container {
  max-width: 81%;
  margin-left: 10%;
  margin-right: auto;
}

.Recmessage-heading1 {
  font-size: 43px;
  font-weight: bold;
  text-align: left;
  color: rgb(138, 10, 10);
  margin-bottom: 2px;
  position: relative;
  font-family: Georgia, serif;
}
.Recmessage-heading2 {
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  color: rgb(138, 10, 10);
  margin-bottom: 20px;
  position: relative;
  font-family: Georgia, serif;

}
.bold-Red {
  color: rgb(138, 10, 10);
  font-weight: bold;
  font-size: 120%;
}

.bold-grey {
  color: rgb(66, 66, 66);
  font-weight: bold;
  font-size: 110%;
}
.light-red {
  color: rgb(180, 8, 8);
}
.Recmessage-paragraph {
  text-align: justify;
  text-justify: inter-word;
  font-size: 115%;
  color: rgb(80, 80, 80);
  font-family: Georgia, serif;
}

.RecImg-container {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-left: 10%;
  background: linear-gradient(
    to right,
    #640109,
    #c72727
  ); /* set the background to a gradient of two colors */
}

.Rector-image-container {
  width: 30%;
}

.Rector-image-container img {
  width: 88%;
  height: auto;
}

.rector-info-container {
  width: 70%;
  padding-left: 50px;
}

.rector-name {
  font-size: 40px;
  font-weight: bold;
  color: white; /* set heading color to white */
  font-family: Georgia, serif;

}
.rector-description {
  font-size: 35px;
  font-weight: bold;
  color: rgb(255, 255, 255); /* change color as needed */
  font-family: Georgia, serif;

}
